<settings>
  <profiles>
    <profile>
      <id>central-repos</id>
      <repositories>
        <repository>
          <id>central</id>
          <name>Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
        </repository>
        <repository>
          <id>oss-snapshots</id>
          <name>OSS Snapshots repository</name>
          <url>https://s01.oss.sonatype.org/content/repositories/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>central-repos</activeProfile>
  </activeProfiles>
</settings>